body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

.header {
    text-align: center;
    padding: 20px;
 
}

#map {
    height: 80vh; /* Set the height of the map */
}
